body {
	font-size: 100%;
}
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.report {
	background-color: yellow;
}
input.try {
	margin-top: 1px;
	font-size: 100%;
	background: white none repeat scroll 0 0;
	border-color: black;
	display: none;

}
input.guessajax {
	margin-top: 1px;
	font-size: 100%;
	background: white none repeat scroll 0 0;
	border-color: black;
	display: none;

}

//input[type='button'] {}

iframe {
	font-size:100%;
  	border: 3px solid yellow;
 	width: 100%;
	margin: 5px 0;
	padding: 3px;
}
input[type='text'] {
	font-size:100%;
  	border: 3px solid blue;
 	width: 100%;
	margin: 5px 0;
	padding: 3px;
}
textarea {
	margin-top: 1px;
	border: 3px solid black;
	font-size: 100%;
	width: 100%;
	height: 1.5em;
	white-space: nowrap;
	background: white none repeat scroll 0 0;
}
hr {
	color: #f00;
	background-color: #f00;
	height: 5px;
}
div.try
{
    border: 3px solid yellow;
	height: 5.5em;
}
textarea.try
{
    border: 3px solid yellow;
	height: 5.5em;
	overflow-y: scroll;
}
textarea.enter
{
    border:3px solid blue	;
}
.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}
